<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-10">
      <table class="table chessboard">
        <tbody>
          <tr *ngFor="let row of board; let x = index">
            <td *ngFor="let cell of row; let y = index"
                class="chessBoardSquare"
                (click)="clickedOn(x,y)"
                [ngClass]="{'highlighted': cell.highlight, 'white': isWhite(x,y), 'black': isBlack(x,y) }">
                <img class="pieceImg" src='{{cell.src}}' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
